<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-device"
    version="2.0.3-dev">
    <name>Device</name>
    <description>Cordova Device Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,device</keywords>
    <repo>https://git-wip-us.apache.org/repos/asf/cordova-plugin-device.git</repo>
    <issue>https://issues.apache.org/jira/browse/CB/component/12320648</issue>

    <!--js-module src="www/device.js" name="device">
        <clobbers target="device" />
    </js-module-->

    <js-module name="ZendriveCordovaPlugin" src="www/zendrive.js">
        <clobbers target="Zendrive" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Zendrive">
                <param name="android-package" value="com.zendrive.phonegap.ZendriveCordovaPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.INTERNET" />

            <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

            <!-- This permission is needed for automatic drive detection by Zendrive. -->
            <uses-permission android:name= "com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

            <!-- This permission is needed so that Zendrive can track drives completely. This prevents Android from shutting down phone CPU in the middle of a drive. -->
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />            
        </config-file>

<!--
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <receiver android:name="com.zendrive.zendrivesample.utils.MyZendriveBroadcastReceiver" >
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
                    <category android:name="android.intent.category.HOME" />
                </intent-filter>
                <intent-filter>
                    <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                </intent-filter>
            </receiver>
        </config-file>
-->

        <source-file src="src/android/com/zendrive/phonegap/ZendriveCordovaPlugin.java" target-dir="src/com/zendrive/phonegap" />
        <!--
        <source-file src="src/android/com/zendrive/phonegap/ZendriveManager.java" target-dir="src/com/zendrive/phonegap" />
        <source-file src="src/android/com/zendrive/phonegap/ZendriveIntentService.java" target-dir="src/com/zendrive/phonegap" />
        -->

        <!--
        <source-file src="src/android/com/zendrive/zendrivesample/utils/ZendriveManager.java" target-dir="src/com/zendrive/zendrivesample/utils" />
        <source-file src="src/android/com/zendrive/zendrivesample/utils/TripManager.java" target-dir="src/com/zendrive/zendrivesample/utils" />
        <source-file src="src/android/com/zendrive/zendrivesample/utils/SharedPrefsManager.java" target-dir="src/com/zendrive/zendrivesample/utils" />
        -->
        <source-file src="src/android/com/zendrive/zendrivesample/utils/Constants.java" target-dir="src/com/zendrive/zendrivesample/utils" />

        <source-file src="src/android/com/zendrive/zendrivesample/utils/NotificationUtility.java" target-dir="src/com/zendrive/zendrivesample/utils" />
        <!--
        <source-file src="src/android/com/zendrive/zendrivesample/utils/MyZendriveBroadcastReceiver.java" target-dir="src/com/zendrive/zendrivesample/utils" />
        -->
        <source-file src="src/android/com/zendrive/zendrivesample/utils/MyZendriveNotificationProvider.java" target-dir="src/com/zendrive/zendrivesample/utils" />

        <!-- External Libraries 
        <framework src="com.google.android.gms:play-services-location:+" />
        -->
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
    </platform>

</plugin>
